<div *ngIf="user">
	<button (click)="goBack()">Back</button>
	<h2>{{user.name}}:</h2>
	<p>id: {{user.id}}</p>
	<p>email: {{user.email}}</p>
	<p>roles: </p> 
	<p>permissions:</p>
	<div>
		<label>name: </label>
		<input [(ngModel)]="user.name" placeholder="name"/>
	</div>
	<div>
		<label>id: </label>
		<input [(ngModel)]="user.id" placeholder="id"/>
	</div>

	<div [(ngModel)]="user.permissions">
	<label>permissions: </label>	
		<input type="checkbox"  id="create" value="create"> Create<br>
		<input type="checkbox" id="read" value="read"> Read<br>
		<input type="checkbox"  value="update"> Update<br>
		<input type="checkbox"  value="delete"> delete<br>
		<input type="checkbox"  value="publish"> publish<br>
		<input  type="checkbox"  value="archive"> Archive<br>
	</div>
</div>
<button (click)="save()">Save</button>